    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #B2E8C0; 
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      padding: 20px;
    }

    .container {
      width: 100%;
      max-width: 1200px;
      position: relative;
    }

    .logo {
      width: 100%;
      display: flex;
      justify-content: flex-start; 
      padding: 10px;
    }

    .logo img {
      max-width: 150px;
      height: auto;
    }

    .image {
      display: flex;
      justify-content: flex-end; 
      margin-bottom: 40px;       
      position: absolute;
      top: 100px;
      right: 0;
      z-index: 10;
    }
.image img {
  cursor: pointer; 
}

    .image img {
      width: 50px;              
      height: auto;              
      transform: translateX(-30px); 
    }

    .text {
      max-width: 1000px;         
      margin: 50px auto;        
      padding: 30px;            
      border: 6px solid #000000; 
      border-radius: 30px;      
      background-color: #fff;   
      box-shadow: 0 5px 15px rgba(35, 32, 32, 0.726); 
      text-align: center;        
      font-size: 25px;           
      font-weight: bold;         
      line-height: 1.4;          
      position: relative;
    }